.ships-info {
    .ships {
        display: 'flex';
        align-items: 'center';

        .ship {
            margin: 10px;
        }

        .ship-length {
            color: grey;
        }
    }
}